#selector {
    z-index: 999999;
    background-color: antiquewhite;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  
    #version {
        padding: 10px; // Adjusted for balanced padding
        width: 200px;
        box-sizing: border-box;
    
        h1 {
            margin-bottom: 0;
        }
    
        a {
            font-size: small;
        }
    }
  
    #center {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }
}

.hidden {
    transition: transform 0.2s ease-in-out;
    transform: translateY(-100%);
}
  
.shown {
    transition: transform 0.2s ease-in-out;
    transform: translateY(0);
}
  
#content {
    margin-top: 125px;
}
  
/* Media query for mobile responsiveness */
@media (max-width: 600px) {
    #selector {
        flex-direction: column;
        align-items: flex-start;
    
        #center {
            width: 100%;
            justify-content: flex-start;
            gap: 5px;
            margin-top: 10px;
    
            select, input {
            width: 50%;
            }
        }
    }
    #content {
        margin-top: 175px;
    }
}  