.copy_icon {
    width: 18px;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease, filter 0.2s ease;

    margin-left: 5px;
  
    &:hover {
      transform: scale(1.1);
      opacity: 0.8;
    }
  
    &:active {
      transform: scale(0.95);
      filter: brightness(0);
    }
  }
  