.icon {
  width: 18px;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease, filter 0.2s ease;

  margin-left: 5px;

  // Deixa o texto não selecionável
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  
  &:hover {
    transform: scale(1.1);
    opacity: 0.8;
  }
  
  &:active {
    transform: scale(0.5);
    filter: brightness(0);
  }
}
  